.card {
    margin-top: 20px;
}

.textarea-form {
    height: 500px;
}

.btn-create {
    margin-right: 15px;
}

.pagination {
    margin-left: 20%;
}

.card-header {
    position: relative;
}

.card-footer {
    width: 100%;
    margin-left: 0px;
}

.btn-del {
     position: absolute;
     right: 5px;
     bottom: 5px;
}

.btn-edit {
    position: absolute;
    right: 45px;
    bottom: 5px;
}

.board-title {
    color: #212F3D;
    font-weight: 600;
}

.board-title:hover {
    color: #212F3D;
}

body {
    background: #DCDCDC;
}
