.card {
    margin-top: 20px;
}

.textarea-form {
    height: 500px;
}

.btn-create {
    margin-right: 15px;
}

.pagination {
    margin-left: 20%;
}

.card-header {
    position: relative;
}

.btn-del {
     position: absolute;
     right: 5px;
     bottom: 5px;
}

.btn-edit {
    position: absolute;
    right: 45px;
    bottom: 5px;
}

